In [1]:
from pyspark.sql import SparkSession

In [2]:
! curl https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet -o /tmp/yellow_tripdata_2023-01.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 45.4M  100 45.4M    0     0  5077k      0  0:00:09  0:00:09 --:--:-- 7055k

In [3]:
df = pq.read_table("/tmp/yellow_tripdata_2023-01.parquet")

NameError: name 'pq' is not defined

In [ ]:
print(df)

In [ ]:
catalog = load_catalog(
    name="hive",
    **{
        "type": "hive",
        "uri": "thrift://hive-metastore:9083",
        "warehouse": "s3a://iceberg/lakehouse",
        "s3.endpoint": "http://minio:9000",
        "s3.access-key-id": "minio",
        "s3.secret-access-key": "minio123",
        "s3.path-style-access": "true",
        "s3.region": "us-east-1",
    }
)

In [ ]:
catalog.create_namespace("bronze")

In [ ]:
table = catalog.create_table(
    "bronze.taxi_dataset",
    schema=df.schema,
    location="s3a://iceberg/lakehouse/bronze/iceberg_nyc_taxi"
)

In [ ]:
table.append(df)
len(table.scan().to_arrow())